  .carousel-header{
    position: absolute;
    top: 10%;
    left: 43%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  .carousel-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
  }
  
  .item{
      width: 300px;
      box-shadow: 0 8px 6px -6px black;
      z-index: 1;
      overflow: hidden;
  }

  .carousel-wrapper .item{
    flex-basis: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCC;
    background-color: #FFF;
  }
  .carousel-wrapper .item.active{
    transition: all 300ms ease-in-out;
    transform: scale(1.2);
    z-index:2;
  }

  .videoInsert {
    object-fit: fill;
}

  .item.active:hover{
      transition: all 300ms ease-in;
      transform : scale(2);
      z-index:3;
  }