.top{
  height:200vh;
}

.main {
    position: relative;
    top:-10vh;
    background: linear-gradient(180deg, #9009CF 0%, #000000 100%);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    overflow: hidden;
}

.footer{

    position:relative;
    color:white;
    align-items: flex-end;
    padding: 10%;
}
